<ion-header>
  <ion-toolbar  color="primary" >
    <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" ><ion-icon name="Camera" size="large"slot="start"></ion-icon></ion-buttons>
    <ion-buttons slot="end" ><ion-icon name="today" size="large"slot="start"></ion-icon></ion-buttons>
    <ion-buttons slot="end" ><ion-icon name="person" size="large"slot="start"></ion-icon></ion-buttons>
    <ion-title >
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/PhotoEco_log.png"> </ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>El Lago del Cisne una experiencia Aumentada</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2> Registrándote obtendrás descuentos de hasta 30% en los comercios del lago </h2>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <h1>Utilidades</h1>
        <ion-img src="/assets/shapes.svg"> </ion-img>
      </ion-list-header>
      <ion-item >
          <ion-icon slot="start" color="medium" name="today"></ion-icon>
          <ion-label>Noticias</ion-label>
          </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Información general del parque</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="locate"></ion-icon>
        <ion-label>¿Cómo llegar?</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
        <ion-label>Calendario de eventos</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="ribbon"></ion-icon>
        <ion-label>Bonos por juegos ecológicos</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
